@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Neonderthaw&display=swap');

header {
  position: sticky;
  top: 0;
  display: grid;
  background-color: rgb(0, 0, 0);
  grid-template-columns: 1fr 2fr 1fr;

}

body {
  background-color: black;
}

footer {
  font-family: Neonderthaw;
  display: grid;
  background-color: rgb(0, 0, 0);
  grid-template-columns: 1fr 2fr 1fr;

}

.logo {
  animation: fadeIn 4s;
  position: fixed;
  top: 0;
  margin-left: 20px;
  height: 120px;
}

.logo:hover {
  opacity: 0.5;
}

header nav {
  display: block;
  grid-column-start: 2;
  grid-column-end: 3;


}

.TopNav ul {
  font-family: Neonderthaw;
  display: flex;
  justify-content: space-evenly;

}

.TopNav li {
  font-size: 30px;
  text-align: center;
  padding: 14px 16px;
}

.TopNav li {
  animation: fadeIn 4s;
  animation-iteration-count: 2;
  color: rgb(255, 0, 0);
}

.TopNav li:hover {
  color: rgb(255, 0, 0);
  opacity: 1;
  animation: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0.8;
  }

  5% {
    opacity: 0.0;
  }

  10% {
    opacity: 0.8;
  }

  20% {
    opacity: 0.2;
  }

  25% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.8;
  }

  40% {
    opacity: 0.4;
  }

  60% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.herosection {
  animation: heroIn 8s;
  height: 100vh;
  background: url(/src/min%20images/Hero_section.avif) no-repeat center center;
  justify-content: center;
  background-size: cover;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  display: flex;
  width: 100%;
}

@keyframes heroIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.down {
  text-align: center;
  position: absolute;
  opacity: 0.6;
  height: 40px;
  width: 100%;
  bottom: 0;
  color: #fff;
}

.maingrid {
  display: grid;
  gap: 1.2rem;

}

.sidebar {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  grid-row: 1 / 15;
  background-color: rgb(0, 0, 0);
}

.sidebar ul {

  font-size: 30px;
  position: sticky;
  margin-left: 30%;
  max-height: 100vh;
  top: 5rem;
}

.sidebar li {
  /* animation: fadeIn 4s ; */
  /* animation-iteration-count:2; */
  counter-increment: li;
  color: hsl(0, 100%, 50%);



}

.sidebar li:hover {

  color: hsl(0, 100%, 50%, 0.5);
  opacity: 3;
  animation: none;


}

.sidebar li::marker {
  display: list-item;
  content: ""counter(li) " ";
  color: lightsalmon;
  font-weight: bold;
}



li::marker {
  content: "";
}




.maingrid article {
  border: 4px #93C29E;
  border-radius: 25px;
  border-style: solid;
  display: flex;
  background-color: #F7F6D2;
  grid-column-start: 2;
  grid-column-end: 6;
  max-height: 50vh;
  overflow: hidden;
  align-items: center;
  margin-right: 10%;
}

.maingrid img {
  width: 205vw;
  min-height: 50vh;
  object-fit: cover;
  transition: transform .2s;
  overflow: hidden;
}

/* .maingrid img:hover{
  transform: scale(1.5);
} */


.TextArea {
  display: flex;
  align-items: center;
  flex-flow: column;
  max-height: 50vh;
}

.TextArea * {
  margin: 5% 0 0 0;
}

.TextArea h2 {
  font-size: 1.5rem;
  color: #E13A65;
  text-align: center;


}

.TextArea p {
  padding: 0 5%;
  min-height: 20vh;
  text-align: center;
  color: #86785D;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer nav {
  grid-column-start: 2;
  grid-column-end: 3;


}

.footerNav ul {
  display: flex;
  justify-content: space-evenly;

}

.footerNav li {
  font-size: 30px;
  list-style-type: upper-roman;
  color: rgb(255, 0, 0);
  text-align: center;
  padding: 14px 16px;
}

























/* AREA FOR THE BUTTON IMPORTED FROM CODEPEN.IO */
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  /* position: relative; */
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #E13A65;
  background: linear-gradient(0deg, #E13A65 0%, #E13A65 100%);
}

.btn-5:hover {
  color: #f0094a;
  background: transparent;
  box-shadow: none;
}

.btn-5:before,
.btn-5:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #E13A65;
  box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
  transition: 400ms ease all;
}

.btn-5:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.btn-5:hover:before,
.btn-5:hover:after {
  width: 100%;
  transition: 800ms ease all;
}